<html>
    <head>
        <title> Inspiracja</title>
    </head>
    <body>
        <div>
            <h1><a href="">Blog Inspiracja</a></h1>
        </div>

        <div>
            <p>opublikowany: 9.12.2016, 12:15</p>
            <h2><a href="">Mój pierwszy wpis</a></h2>
            <p>Blog ten opisuje różne zagdnienia z dziedziny programowania i poszczególne aspekty informatyczne.</p>
        </div>

        <div>
            <p>opublikowany: 9.06.2016, 12:45</p>
            <h2><a href="">Mój drugi wpis</a></h2>
            <p>Przewodnik po Django i Pythonie. Proste wprowadzenie do tych technlogii.</p>
        </div>
    </body>
</html>